html,
body {
    background-color: #4B5320;
    font-family: Times New Roman, sans-serif;
}

#page-wrapper {
    position: relative;
    margin-top: 20px;
    width: 100%;
    padding: 0px;
    float: left;
}

#nav-bar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: inline-block;
}

#header-img {
    @media (max-width: 500px) margin-top: 30px;
    width: 8%;
    position: relative;
    padding: 9px;
    float: left;
    margin-left: 30px;
}

#header {
    background-color: #fffff0;
    height: 100px;
    width: 92%;
    margin: 15px 45px;
    border-radius: 15px;
    position: fixed;
    text-align: left;
    top: 0px;
}

h2 {
    width: 400px;
    height: 60px;
    margin: -30px auto;
    text-align: center;
    font-size: 300%;
    padding: 10px;
}

#aboutPic {
    float: left;
    width: 17%;
}

ul {
    list-style: none;
    max-width: 65%;
    margin: 0px auto;
    width: 100%;
    display: inline-block;
}

.nav-link {
    width: 22%;
    height: 25%;
    margin: 3px 10px;
    float: left;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    background-color: #ffb347;
    transition: .5s;
}

.nav-link:hover {
    background: #000;
    color: #ffb347;
}

a {
    display: block;
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

#hero {
    text-align: center;
    position: relative;
    top: -30px;
}

#form {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    max-width: 1000px;
    text-align: right;
    float: right;
    padding: 5px;
}

#email {
    width: 150px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

#submit {
    border: 2px solid #000;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #a1caf1;
}

#Add-to-Cart {
    float: right;
    border: 2px solid #000;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    margin: 30px 650px 0px 0px;
    background-color: #a1caf1;
    transition: .5s;
}

#Add-to-Cart:hover,
#submit:hover {
    background-color: #000;
    color: #a1caf1;
    cursor: pointer;
}

.instagram-media {
    max-width: 10px;
    float: right;
    height: 500px;
}

p {
    margin: 2%;
    margin-left: 50px;
    font-size: 25px;
    text-align: left;
    text-indent: 20pt;
}

h4 {
    font-family: cursive;
}

#nav-link {
    display: inline-block;
    font-size: 25px;
}

#aboutPic {
    margin-top: 30px;
    padding-right: 35px;
}

h3 {
    margin-top: 100px;
    width: 400px;
    margin: -30px auto;
    text-align: center;
    font-size: 250%;
    padding: 25px;
}

.container {
    padding-top: 150px;
    margin: 40px;
}

img {
    top: 15px;
}

.section {
    margin-bottom: 100px;
}

#Apparel {
    float: left;
}

#Online-Coaching {
    float: left;
}

#video {
    float: right;
}